* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }
      .topbar {
        background: gainsboro;
        height: 90px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      nav,
      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        list-style: none;
      }
      nav ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background: blue;
        width: 30px;
        height: 32px;
        border-radius: 50px;
      }
      nav ul li img{
        width: 15px;
        height: 18px;
        font-weight: 900;
        font-style: Solid;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 2%;

      }
      .threeDots div {
        width: 5px;
        height: 5px;
        background: blue;
        border-radius: 50px;
      }
      .two {
        margin: 5px 0;
      }


      .left-rail{
        position: relative;
        position: fixed;
        /* height: 692px;
        width: 392px; */
        
        border-radius: 20px;
        float: left;
        z-index: 1;
        margin-left: -320px;
        overflow: hidden;
      }
      .left-rail, .step-circle, .rail-inner i{
        transition: all 1s ease;
      }
      .rail-inner{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 392px;
        color: #FFFFFF;
        background: black;
        border-radius: 20px 20px 0 0;
        padding: 0 20px; 
      }
      .rail-inner i img{
        width: 39px;
        height: 29px;
        border-radius: 50px;
        cursor: pointer;
      }
      .step-circle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #FDFDFD;
        box-shadow: 2px 2px 10px gray;
        height: 692px;
        width: 392px;
        padding: 30px 0;
        opacity: 0;
      }
      
      .step-circle ul li{
        margin: 10px 0;
      }
      
      .container {
        position: absolute;
         margin: 0 150px;
         padding: 40px 20px;
         z-index: 0;
       }
       .page-title {
         color: #0029FF;
         font-size: 28px;
         font-weight: 700;
         margin-bottom: 10px;
       }
       
       .btn.blue {
         height: 36px;
         width: 121px;
         float: right;
         background: #1d4ed8;
         color: white;
         padding: 8px 16px;
         border-radius: 8px;
         border: none;
         cursor: pointer;
         font-size: 14px;
         margin-top: -35px;
       }
       
       .intro {
         height: 135px;  
         background: #E9ECEF;
         padding: 20px;
         border-radius: 8px;
         margin-top: 40px;
         margin-bottom: 30px;
         border-radius: 5px;
       }
       
       .intro h3 {
         color: #000000;
         font-size: 20px;
         font-weight: 700;
         margin-bottom: 8px;
       }
       
       .intro p {
         color: #555;
         font-size: 14px;
         font-weight: 400;
         line-height: 1.5;
       }
       
       .grid {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 25px;
       }
       
       .card {
        height: 580px;
         background: #FDFDFD;
         border-radius: 10px;
         box-shadow: 0 2px 8px rgba(0,0,0,0.1);
         overflow: hidden;
       }
       
       .card-head {
        height: 50px;
        background: #000000;
        color: #fff;
        padding: 10px 16px;
        font-weight: 600;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 16px;
       }
       .info{
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        color: black;
        height: 20px;
        width: 20px;
        border-radius: 50px;
       }
       
       .card .desc {
        align-self: center;
        padding: 13px;
        height: 86px;
         font-size: 16px;
         color: #444;
         box-shadow: 1px 1px 2px rgb(153, 151, 151);
       }
        
       /* --- VIDEO CARD --- */
       .video-card img {
         width: 100%;
         height: 291px;
       }
       
       /* --- THREAD BUILD --- */
       .thread {
         padding: 10px 0 20px;
       }
       .thread-head {
         height: 40px;
         background: #fdfbbd66;
         padding: 6px 10px;
         border-radius: 6px;
         font-weight: 600;
         font-size: 20px;
       }
       
       .thread-grid {
        height: 95px;
         display: flex;
         justify-content: space-between;
       }
       .allbody{
        padding: 25px ;
       }
       .sub{
        background: rgb(241, 240, 240);
        width: 47%;
        height: 95px;
        box-shadow: 2px 2px 10px rgb(210, 209, 209);
        border-radius: 10px;
       }
       .sub label , .summaryBox label{
         font-size: 13px;
         font-weight: 500;
         padding-left: 5px;
       }
       
       .sub textarea ,.summary{
        height: 100%;
         width: 100%;
         min-height: 60px;
         margin: 6px 0;
         border: 1px solid #ccc;
         border-radius: 10px;
         padding: 8px;
         resize: vertical;
         font-size: 13px;
       }

       .selects{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
       }
    
       .icons i img{
         width: 21px;
         height: 20px;
         margin: 0 10px;
       }
       .btns{
        display: flex;
        justify-content: space-between;
        width: 45%;
       
       }
       .btns button {
        width: 91px;
        height: 32px;
        border: none;
        background: #fff;
        box-shadow: 1px 1px 5px rgb(196, 196, 196);
        border-radius: 5px;
        overflow: hidden;
       }
       
    .controls .btn{
        background: #1d4ed8;
         color: white;
         padding: 8px 16px;
         border-radius: 8px;
         border: none;
         cursor: pointer;
         font-size: 14px;
         margin-bottom: 5px;
    }
       .summaryBox {
         background: rgb(241, 240, 240);
        box-shadow: 2px 2px 10px rgb(210, 209, 209);
        border-radius: 10px;
        height: 108px;
        margin: 10px 0;
       }
       
       /* --- STRUCTURE YOUR POINTERS --- */
      .structureTitleBox label, .structureContentBox label{
        display: inline-block;
        height: 33px;
        width: 100%;
        font-size: 16px;
      }
      .structureContentBox label{
        margin-top: 20px;
      }
       .input {
        background: #FCFBFB;
        height: 43px;
         width: 100%;
         border: none;
         border-radius: 5px;
         padding: 8px;
         margin-bottom: 10px;
         box-shadow: -2px 2px 6px 0px #00000026;
       }
    
       .editor .ulBox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: #FCFBFB;
        box-shadow: 0px 2px 10px 0px #0000002E;
         border: none;
         height: 82px;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
         overflow: hidden;
       }
       .editor .ulBox .ulLists{
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
       }
       .editor .ulImgs {
        list-style: none;
        display: flex;
        justify-content: start;
        margin-left: 30px;
        gap: 25px;
       }
       .editor .ulImgs li img{
        width: 21px;
        height: 18px;
        opacity: 1;
       }
       .para{
        background: #cbcaca;
        width: 78px;
        height: 22px;
        opacity: 1;

       }
       .editor textarea {
         width: 100%;
         height: 145px;
         border: none;
         padding: 10px;
         box-shadow: -2px 2px 6px 0px #00000026;
         background: #FCFBFB;
         font-size: 13px;
       }
       
       /* --- 4SA METHOD --- */

       .faq{
        padding: 0 25px;
       }
       .faq .faq1 summary {
        background: #F2F2F2;
        height: 43px;
        opacity: 1;
        padding: 10px 0 0 20px;
        cursor: pointer;
       }
       .faq summary{
        font-size: 16px;
        font-weight: 600;
       }
       .faq p{
        padding: 0 20px;
        margin: 10px 0 20px 0;
        height: 67px;
       }

       .faq .faq2 summary, .example{
        border: 1px solid #D9D7D7;
        height: 43px;
        opacity: 1;
        background: #FCFCFC;
        padding: 10px 0 0 20px;
       }
       
       /* --- FLOATING HELP BUTTONS --- */
       .floating-help {
         position: fixed;
         bottom: 20px;
         right: 20px;
         display: flex;
         flex-direction: column;
         gap: 10px;
       }
       
       .circle {
         width: 70px;
         height: 70px;
         border-radius: 50%;
         background: #0029FF;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
       }
       .circle img{
        height: 40px;
        width: 37px;
       }

       .right-rail {
    position:fixed;
    top: 90px; 
    right: 0;
    width: 95px;
    height: 394px;
    border-radius: 30px 0 0 30px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.notice{
    width: 50px;
    height: 394px;
    background: #000;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}
.close-btn {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
    cursor: pointer;
}

.vertical-text {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 2%;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
.noticeBox{
    height: 394px;
    background: #FFFFFF;
    
}


/******************* media *****************/
@media (max-width: 1024px){
  .grid{
    grid-template-columns: none;
  }
  .container{
    margin: 0 20px ;
  }
.right-rail{
  display: none;
}
  .step-circle{
    width: 100%;
    /* display: none; */
    opacity: 0;
    box-shadow: none;
    background: transparent;
  }
  
}

/* MOBILE BEHAVIOR */
@media (max-width: 600px) {
  .icons {
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 20px;
    background: gainsboro;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease;
  }
}
